<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stvrainlunchmenucalendar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c012b92-2b78-4cb4-ba6b-05729f4c8943/resourcegroups/stvrainlunchmenucalendar/providers/Microsoft.Web/sites/stvrainlunchmenucalendar</ResourceId>
    <UserName>$stvrainlunchmenucalendar</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://stvrainlunchmenucalendar.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>